body {
	margin: 0;
}

.container {
	display: flex;
	height:100vh;
}

.flex-item {
	box-shadow: 0 0 0 1px black;
	width:50vw;
}

.progs, .flex-item2 {
	padding:10px;
}

.runs {
	display: flex;
	flex-flow: column;
}

.flex-item2 {
	overflow-y: scroll;
	box-shadow: 1px 1px 1px 1px black;
	height:50vh;
}

.def {
	display:flex;
}

.def-content {
	display:flex;
	flex-flow:column;
}

#compiled {
	display:flex;
	flex-flow:column;
}

h1 {
	font-size:large;
}

.sent {
	display:inline-flex;
	flex-flow:column;
	box-shadow: 1px 1px 1px 1px black;
}
